<div class="game-space">
  <div class="game-array">
    <div class="row" id="row-0">
      <div class="space-container">
        <div class="space" id="space-0" (click)="onSpaceClick(0,0,0)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-1" (click)="onSpaceClick(0,1,1)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-2" (click)="onSpaceClick(0,2,2)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-3" (click)="onSpaceClick(0,3,3)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-4" (click)="onSpaceClick(0,4,4)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-5" (click)="onSpaceClick(0,5,5)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-6" (click)="onSpaceClick(0,6,6)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-7" (click)="onSpaceClick(0,7,7)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-8" (click)="onSpaceClick(0,8,8)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-9" (click)="onSpaceClick(0,9,9)"></div>
      </div>
    </div>
    <div class="row" id="row-1">
      <div class="space-container">
        <div class="space" id="space-10" (click)="onSpaceClick(1,0,10)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-11" (click)="onSpaceClick(1,1,11)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-12" (click)="onSpaceClick(1,2,12)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-13" (click)="onSpaceClick(1,3,13)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-14" (click)="onSpaceClick(1,4,14)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-15" (click)="onSpaceClick(1,5,15)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-16" (click)="onSpaceClick(1,6,16)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-17" (click)="onSpaceClick(1,7,17)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-18" (click)="onSpaceClick(1,8,18)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-19" (click)="onSpaceClick(1,9,19)"></div>
      </div>
    </div>
    <div class="row" id="row-2">
      <div class="space-container">
        <div class="space" id="space-20" (click)="onSpaceClick(2,0,20)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-21" (click)="onSpaceClick(2,1,21)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-22" (click)="onSpaceClick(2,2,22)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-23" (click)="onSpaceClick(2,3,23)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-24" (click)="onSpaceClick(2,4,24)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-25" (click)="onSpaceClick(2,5,25)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-26" (click)="onSpaceClick(2,6,26)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-27" (click)="onSpaceClick(2,7,27)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-28" (click)="onSpaceClick(2,8,28)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-29" (click)="onSpaceClick(2,9,29)"></div>
      </div>
    </div>
    <div class="row" id="row-3">
      <div class="space-container">
        <div class="space" id="space-30" (click)="onSpaceClick(3,0,30)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-31" (click)="onSpaceClick(3,1,31)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-32" (click)="onSpaceClick(3,2,32)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-33" (click)="onSpaceClick(3,3,33)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-34" (click)="onSpaceClick(3,4,34)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-35" (click)="onSpaceClick(3,5,35)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-36" (click)="onSpaceClick(3,6,36)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-37" (click)="onSpaceClick(3,7,37)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-38" (click)="onSpaceClick(3,8,38)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-39" (click)="onSpaceClick(3,9,39)"></div>
      </div>
    </div>
    <div class="row" id="row-4">
      <div class="space-container">
        <div class="space" id="space-40" (click)="onSpaceClick(4,0,40)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-41" (click)="onSpaceClick(4,1,41)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-42" (click)="onSpaceClick(4,2,42)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-43" (click)="onSpaceClick(4,3,43)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-44" (click)="onSpaceClick(4,4,44)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-45" (click)="onSpaceClick(4,5,45)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-46" (click)="onSpaceClick(4,6,46)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-47" (click)="onSpaceClick(4,7,47)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-48" (click)="onSpaceClick(4,8,48)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-49" (click)="onSpaceClick(4,9,49)"></div>
      </div>
    </div>
    <div class="row" id="row-5">
      <div class="space-container">
        <div class="space" id="space-50" (click)="onSpaceClick(5,0,50)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-51" (click)="onSpaceClick(5,1,51)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-52" (click)="onSpaceClick(5,2,52)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-53" (click)="onSpaceClick(5,3,53)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-54" (click)="onSpaceClick(5,4,54)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-55" (click)="onSpaceClick(5,5,55)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-56" (click)="onSpaceClick(5,6,56)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-57" (click)="onSpaceClick(5,7,57)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-58" (click)="onSpaceClick(5,8,58)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-59" (click)="onSpaceClick(5,9,59)"></div>
      </div>
    </div>
    <div class="row" id="row-6">
      <div class="space-container">
        <div class="space" id="space-60" (click)="onSpaceClick(6,0,60)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-61" (click)="onSpaceClick(6,1,61)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-62" (click)="onSpaceClick(6,2,62)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-63" (click)="onSpaceClick(6,3,63)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-64" (click)="onSpaceClick(6,4,64)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-65" (click)="onSpaceClick(6,5,65)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-66" (click)="onSpaceClick(6,6,66)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-67" (click)="onSpaceClick(6,7,67)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-68" (click)="onSpaceClick(6,8,68)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-69" (click)="onSpaceClick(6,9,69)"></div>
      </div>
    </div>
    <div class="row" id="row-7">
      <div class="space-container">
        <div class="space" id="space-70" (click)="onSpaceClick(7,0,70)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-71" (click)="onSpaceClick(7,1,71)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-72" (click)="onSpaceClick(7,2,72)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-73" (click)="onSpaceClick(7,3,73)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-74" (click)="onSpaceClick(7,4,74)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-75" (click)="onSpaceClick(7,5,75)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-76" (click)="onSpaceClick(7,6,76)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-77" (click)="onSpaceClick(7,7,77)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-78" (click)="onSpaceClick(7,8,78)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-79" (click)="onSpaceClick(7,9,79)"></div>
      </div>
    </div>
    <div class="row" id="row-8">
      <div class="space-container">
        <div class="space" id="space-80" (click)="onSpaceClick(8,0,80)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-81" (click)="onSpaceClick(8,1,81)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-82" (click)="onSpaceClick(8,2,82)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-83" (click)="onSpaceClick(8,3,83)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-84" (click)="onSpaceClick(8,4,84)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-85" (click)="onSpaceClick(8,5,85)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-86" (click)="onSpaceClick(8,6,86)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-87" (click)="onSpaceClick(8,7,87)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-88" (click)="onSpaceClick(8,8,88)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-89" (click)="onSpaceClick(8,9,89)"></div>
      </div>
    </div>
    <div class="row" id="row-9">
      <div class="space-container">
        <div class="space" id="space-90" (click)="onSpaceClick(9,0,90)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-91" (click)="onSpaceClick(9,1,91)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-92" (click)="onSpaceClick(9,2,92)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-93" (click)="onSpaceClick(9,3,93)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-94" (click)="onSpaceClick(9,4,94)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-95" (click)="onSpaceClick(9,5,95)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-96" (click)="onSpaceClick(9,6,96)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-97" (click)="onSpaceClick(9,7,97)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-98" (click)="onSpaceClick(9,8,98)"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-99" (click)="onSpaceClick(9,9,99)"></div>
      </div>
    </div>
  </div>
  <div class="game-info">
    <div class="counts">
      <div class="player-count">
        <div class="red"></div><span>{{redCount}}</span>
      </div>
      <div class="player-count">
        <div class="green"></div><span>{{greenCount}}</span>
      </div>
      <div class="player-count">
        <div class="blue"></div><span>{{blueCount}}</span>
      </div>
      <div class="player-count">
        <div class="yellow"></div><span>{{yellowCount}}</span>
      </div>
      <div class="player-count">
        <div class="purple"></div><span>{{purpleCount}}</span>
      </div>
    </div>

    <div class="control">
      <button class="control-button" (click)="flipDirection()">{{getButtonContent()}}</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>