<div class="game-space">
  <div class="game-array">
    <div class="row" id="row-0">
      <div class="space-container">
        <div class="space" id="space-0" (click)="onSpaceClick('0')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-1" (click)="onSpaceClick('1')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-2" (click)="onSpaceClick('2')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-3" (click)="onSpaceClick('3')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-4" (click)="onSpaceClick('4')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-5" (click)="onSpaceClick('5')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-6" (click)="onSpaceClick('6')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-7" (click)="onSpaceClick('7')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-8" (click)="onSpaceClick('8')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-9" (click)="onSpaceClick('9')"></div>
      </div>
    </div>
    <div class="row" id="row-1">
      <div class="space-container">
        <div class="space" id="space-10" (click)="onSpaceClick('10')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-11" (click)="onSpaceClick('11')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-12" (click)="onSpaceClick('12')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-13" (click)="onSpaceClick('13')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-14" (click)="onSpaceClick('14')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-15" (click)="onSpaceClick('15')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-16" (click)="onSpaceClick('16')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-17" (click)="onSpaceClick('17')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-18" (click)="onSpaceClick('18')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-19" (click)="onSpaceClick('19')"></div>
      </div>
    </div>
    <div class="row" id="row-2">
      <div class="space-container">
        <div class="space" id="space-20" (click)="onSpaceClick('20')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-21" (click)="onSpaceClick('21')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-22" (click)="onSpaceClick('22')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-23" (click)="onSpaceClick('23')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-24" (click)="onSpaceClick('24')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-25" (click)="onSpaceClick('25')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-26" (click)="onSpaceClick('26')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-27" (click)="onSpaceClick('27')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-28" (click)="onSpaceClick('28')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-29" (click)="onSpaceClick('29')"></div>
      </div>
    </div>
    <div class="row" id="row-3">
      <div class="space-container">
        <div class="space" id="space-30" (click)="onSpaceClick('30')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-31" (click)="onSpaceClick('31')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-32" (click)="onSpaceClick('32')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-33" (click)="onSpaceClick('33')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-34" (click)="onSpaceClick('34')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-35" (click)="onSpaceClick('35')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-36" (click)="onSpaceClick('36')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-37" (click)="onSpaceClick('37')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-38" (click)="onSpaceClick('38')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-39" (click)="onSpaceClick('39')"></div>
      </div>
    </div>
    <div class="row" id="row-4">
      <div class="space-container">
        <div class="space" id="space-40" (click)="onSpaceClick('40')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-41" (click)="onSpaceClick('41')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-42" (click)="onSpaceClick('42')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-43" (click)="onSpaceClick('43')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-44" (click)="onSpaceClick('44')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-45" (click)="onSpaceClick('45')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-46" (click)="onSpaceClick('46')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-47" (click)="onSpaceClick('47')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-48" (click)="onSpaceClick('48')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-49" (click)="onSpaceClick('49')"></div>
      </div>
    </div>
    <div class="row" id="row-5">
      <div class="space-container">
        <div class="space" id="space-50" (click)="onSpaceClick('50')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-51" (click)="onSpaceClick('51')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-52" (click)="onSpaceClick('52')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-53" (click)="onSpaceClick('53')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-54" (click)="onSpaceClick('54')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-55" (click)="onSpaceClick('55')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-56" (click)="onSpaceClick('56')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-57" (click)="onSpaceClick('57')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-58" (click)="onSpaceClick('58')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-59" (click)="onSpaceClick('59')"></div>
      </div>
    </div>
    <div class="row" id="row-6">
      <div class="space-container">
        <div class="space" id="space-60" (click)="onSpaceClick('60')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-61" (click)="onSpaceClick('61')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-62" (click)="onSpaceClick('62')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-63" (click)="onSpaceClick('63')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-64" (click)="onSpaceClick('64')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-65" (click)="onSpaceClick('65')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-66" (click)="onSpaceClick('66')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-67" (click)="onSpaceClick('67')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-68" (click)="onSpaceClick('68')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-69" (click)="onSpaceClick('69')"></div>
      </div>
    </div>
    <div class="row" id="row-7">
      <div class="space-container">
        <div class="space" id="space-70" (click)="onSpaceClick('70')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-71" (click)="onSpaceClick('71')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-72" (click)="onSpaceClick('72')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-73" (click)="onSpaceClick('73')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-74" (click)="onSpaceClick('74')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-75" (click)="onSpaceClick('75')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-76" (click)="onSpaceClick('76')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-77" (click)="onSpaceClick('77')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-78" (click)="onSpaceClick('78')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-79" (click)="onSpaceClick('79')"></div>
      </div>
    </div>
    <div class="row" id="row-8">
      <div class="space-container">
        <div class="space" id="space-80" (click)="onSpaceClick('80')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-81" (click)="onSpaceClick('81')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-82" (click)="onSpaceClick('82')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-83" (click)="onSpaceClick('83')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-84" (click)="onSpaceClick('84')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-85" (click)="onSpaceClick('85')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-86" (click)="onSpaceClick('86')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-87" (click)="onSpaceClick('87')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-88" (click)="onSpaceClick('88')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-89" (click)="onSpaceClick('89')"></div>
      </div>
    </div>
    <div class="row" id="row-9">
      <div class="space-container">
        <div class="space" id="space-90" (click)="onSpaceClick('90')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-91" (click)="onSpaceClick('91')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-92" (click)="onSpaceClick('92')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-93" (click)="onSpaceClick('93')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-94" (click)="onSpaceClick('94')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-95" (click)="onSpaceClick('95')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-96" (click)="onSpaceClick('96')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-97" (click)="onSpaceClick('97')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-98" (click)="onSpaceClick('98')"></div>
      </div>
      <div class="space-container">
        <div class="space" id="space-99" (click)="onSpaceClick('99')"></div>
      </div>
    </div>
  </div>
  <div class="game-info">
    
  </div>
</div>

<router-outlet></router-outlet>